<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link rel="stylesheet" href="css/index.css">
	    <link rel="stylesheet" href="css/login.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <title>Upload</title>

    <title>Hello, world!</title>
  </head>
  <body>
  <%= yield %>
    
		<!-- -->

		<% cat = Categorium.all%>
		 
		<% todos = Video.all %>
		<% cat.each do |categoria|%>
		<div class="container" style="border-style:solid;border-width:2px">
		<h3 style="color:white"><%= categoria.nome %></h3>
		<% todos.each do |video|%>
		<% if (video.categoria == categoria.nome) %>
		<div class="card" style="width: 18rem;height:25rem;">
		 	<img class="card-img-top"> 
		 	<img src="<%= video.tumb%>" height="50%" width="100%"></img>
		 	<div class="card-body">
		    	<h6 align="center" class="card-title"><%= video.titulo%></h6>
		    	<p class="card-text"><%= video.descricao%>
		    	<p align="center">
		    	<button class="btn" align="center" onclick=<% $aula = video%>"window.location.href='/aula'">Assistir</button>
		 	</div>
		 	</div>
		</div>
		</div>

		<% end%>
		<% end%>
		<% end%>

    </div>
  </body>
</html>