<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link rel="stylesheet" href="css/index.css">
	    <link rel="stylesheet" href="css/login.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <title>Upload</title>

    <title>Hello, world!</title>
  </head>
  <body>
  <%= yield %>
    <div class="container">
		<!-- -->
		

		
		<% todos = Video.all %>
    <% $a = Video.take(10)[0]%>
		<div class="card" style="width: 18rem;height:25rem;">
		 	<img class="card-img-top"> 
		 	<img src="<%= $a.tumb%>" height="50%" width="100%"></img>
		 	<div class="card-body">
		    	<h5 align="center" class="card-title"><%= $a.titulo%></h5>
		    	<p class="card-text"><%= $a.descricao%></p>
		    	<p align="center">
		    	<button class="btn" align="center" onclick=<% $aula = $a%>"window.location.href='/aula'">Assistir</button>
		    	</p>
		 	</div>
		</div>
		        <% $b = Video.take(10)[1]%>
		<div class="card" style="width: 18rem;height:25rem;">
		 	<img class="card-img-top"> 
		 	<img src="<%= $b.tumb%>" height="50%" width="100%"></img>
		 	<div class="card-body">
		    	<h5 align="center" class="card-title"><%= $b.titulo%></h5>
		    	<p class="card-text"><%= $b.descricao%></p>
		    	<p align="center">
		    	<button class="btn" align="center" onclick="<% $aula = $b%>window.location.href='/aula'">Assistir</button>
		    	</p>
		 	</div>
		</div>
		        <% $c = Video.take(10)[2]%>
		<div class="card" style="width: 18rem;height:25rem;">
		 	<img class="card-img-top"> 
		 	<img src="<%= $c.tumb%>" height="50%" width="100%"></img>
		 	<div class="card-body">
		    	<h5 align="center" class="card-title"><%= $c.titulo%></h5>
		    	<p class="card-text"><%= $c.descricao%></p>
		    	<p align="center">
		    	<button class="btn" align="center" onclick=<% $aula = $c%>"window.location.href='/aula'">Assistir</button>
		    	</p>
		 	</div>
		</div>
		

    </div>
  </body>
</html>